:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  margin: 0;
  background: var(--background-rgb);
  font-family: Lato !important;
  font-weight: 400 !important;
}
