# Replace the credentials below with your Supabase, PowerSync and Expo project details.
EXPO_PUBLIC_SUPABASE_URL=https://foo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=foo
EXPO_PUBLIC_POWERSYNC_URL=https://foo.powersync.journeyapps.com