{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSameLine": true,
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-embed", "prettier-plugin-sql"]
}
