# NEON_DATA_API_URL, required, the URL of your Neon Data API
VITE_NEON_DATA_API_URL=https://data-api-url
# NEON_AUTH_URL, required, your Neon Auth URL
VITE_NEON_AUTH_URL=https://neon-auth-url

# DATABASE_URL, optional, only if you want to run drizzle migrations with bun db:migrate
DATABASE_URL=your-database-url


# PowerSync instance URL, for PowerSync Cloud obtain from dashboard. Otherwise, the URL of your self-hosted PowerSync Service
VITE_POWERSYNC_URL=https://foo.powersync.journeyapps.com