# Ensures packages build correctly
name: Build Packages

on:
  push:

jobs:
  build:
    timeout-minutes: 10
    name: Build Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build:packages

      - name: Build (prod)
        run: pnpm build:packages:prod
