# Ensures packages and demos test correctly
name: Test Isolated Demos

on:
  push:

jobs:
  test:
    name: Test Isolated Demos
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Install
        run: pnpm install

      - name: Build Packages
        run: pnpm build:packages

      - name: Test Package Exports
        run: pnpm test:packages:exports

      - name: Start Verdaccio
        run: |
          npm install -g verdaccio
          nohup verdaccio -c verdaccio-config.yaml &
          sleep 10 # Give Verdaccio some time to start

      - name: Prepare For Test Publish
        run: npx tsx scripts/test-publish-helper.ts

      - name: Registry login
        run: npx npm-cli-login -u test -p test -e test@example.com -r http://localhost:4873

      - name: Config Temporary Registry
        run: echo "@powersync:registry=http://localhost:4873" >> ~/.npmrc

      # No actual auth is ever supplied to this action.
      # It should never be able to publish to NPMJS
      - name: Test publish
        run: pnpm -r publish --no-git-checks

      - name: Test Demos
        run: npx tsx scripts/isolated-demo-test.ts
